body,
html {
  margin: 0;
  padding: 0;
  background: #000000;
}
#wrap {
  background-color: rgb(0, 80, 100);
  font-size: x-large;
  font-family: "Nunito Sans", sans-serif;
  display: flex;
  margin: 0 auto;
  width: 900px;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
hr{
    border: white dashed 3px;
}
h1{
    margin:0;

}

#header {
    padding:5px 10px;

  background: #ddd;
}

#nav {
    margin:0;
    padding:0;
    list-style:none;
  background: #c99;
}
#nav li {
    display:inline;
    margin:0;
    padding:0;
    }
#content {
    float: left;
    width: 500px;
  background: #9c9;
}
#sidebar {
    float: right;
    width: 250px;
  background: #c9c;
}
#footer {
    clear: both;
  background: #cc9;
}

/* #nav {
  padding: 5px;
  width: 300px;
  background-color: #82e5fd;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

#content {
  padding: 5px;
  width: 900px;
  background-color: rgb(3, 143, 179);
  justify-content: flex-end;
  text-align: center;
  align-items: flex-end;
}

.copyright {
  font-size: 25px;
  justify-content: flex-end;
  text-align: center;
}

/* li::first-letter {
    font-size: 40px;
    font-weight: bold;
  } */
/* footer {
  font-size: small;
}
a:hover {
  color: #cc0e74;
} */ */
